body {
  font-family: DejaVu Sans, Arial, Sans Serif;
  margin:0;
  padding: 0;
  height: 100%;
}
html, body, #map  {
  height: 100%;
}

div.leaflet-popup-content ul {
  padding-left: 1em;
}
div.leaflet-popup-content p + ul {
    margin-top: -10px;
}

div.sidebar-pane > div.content {
  font-size: 0.75em;
}
div.sidebar-pane input[type=text] {
  width: 95%;
}
div.sidebar-pane input[type=number] {
  width: 5em;
}
fieldset {
  margin-top: 16px;
}
div.content ul {
  padding-left: 20px;
}
ul.listCentros {
  list-style-type: none;
  padding-left: 0px !important;;
  display: table;
}
ul.listCentros li {
  display: table-row;
  margin-top: 5px;
  margin-bottom: 5px;
}
ul.listCentros li img {
  display: table-cell;
  cursor: pointer;
  transform: scale(0.7);
  margin-top: -0.5em;
}

ul.listCentros li span {
  display: table-cell;
  vertical-align: top;
}


ul.leyenda {
}
ul.leyenda li {
  margin-top: 5px;
  margin-bottom: 5px;
}
ul.leyenda li.liimg {
  margin-left: -2em !important;
  list-style-type: none;
}
ul.leyenda li img {
  transform: scale(0.7);
  margin-top: -0.8em;
}
ul.leyenda li span {
  vertical-align: top;
}

#contacto div.content code {
  font-size: 1.3em;
  font-weight: bold;
}
#contacto div.content img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

